.post  {
    display: flex;
    flex-direction: column;
    max-width: 500px;
    margin: 0 auto;
}

h1 {
    font-weight: 700;
    font-size: 50px;
    text-align: center;
    color: green;
}

p{
    font-weight: 500;
    font-size: 25px;
}

img{
    display: flex;
    align-items: center;
    justify-content: center;
}